@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: grey #f0f0f0;
}

/* Signup */

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img-Container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-Container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px);
}
.subContainer {
    height: 80%;
    width: 30%;
}
.signup-form{
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    background-color: darkgrey;
    position: absolute;
    z-index: 3;
}
.signup-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup-header h2 {
    margin-bottom: 10px;
}

.error-msg {
    color: red;
    margin-bottom: 15px;
}

.fields {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.fields input {
    padding: 12px 10px;
    margin-bottom: 3%;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.fields input:focus {
    outline: none;
}

.fields label {
    margin-bottom: 10px;
}

.signup-authBtn {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.auth-btn {
    padding: 14px 75px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 15px;

}

.auth-btn:hover {
    background-color: #202020;
}

/* Login */

.login-form {
    height: 55%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background-color: darkgrey;
    position: absolute;
    z-index: 3;

}

.login-header {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-authBtn {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Admin - Add Products */

.main-container {
    height: 100vh;
    width: 100%;
}
.admin-nav {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0;
}

.admin-nav img{
    height: 65%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 5%;
}

.productFileds-container {
    height: 84%;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.addImg-container {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addimg {
    width: 15%;
    height: 20%;
    position: absolute;
}

.addImg-container img {
    height: 80%;
    width: 80%;
    z-index: 1;
    border-radius: 20px;
    background-color: #f1f1f1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.productFields {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 70px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.productFields input {
    padding: 8px 10px;
    width: 85%;
    border-radius: 12px;
    border: 1px solid;
    font-size: 15px;
}

.productFields input:focus {
    outline: none;
}

.productFields label {
    margin-bottom: 1px;
    font-weight: 500;
}

.ImgBtn {
    margin: 5px 0 5px 17px;
    padding: 5px 8px;
    font-size: 13px;
    width: 15%;
    border: 1px solid;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
}

.productFields textarea {
    padding: 10px;
    width: 85%;
    border-radius: 12px;
    font-size: 15px;
}

.productFields textarea:focus {
    outline: none;
}

.admin-btns {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

.add-btn {
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #00FF9C;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-btn:hover {
    background-color: #00CC7E;
}

.clr-btn {
    padding: 12px 74px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: orangered;
    cursor: pointer;
    transition: 0.3s ease;
}

.clr-btn:hover {
    background-color: #CC3700;
}

.list-btn {
    padding: 20px 30px;
    border: 3px solid transparent;
    font-size: 16px;
    transition: 0.2s ease;
}

.list-btn:hover {
    background-color: #cdc5c5;
    border-bottom: 3px solid grey;

}

/* Admin Product List */

.productList-container {
    height: 100vh;
    width: 100%;
}
.productList-container .admin-nav {
    height: 10%;
}
.admin-search {
    width: 35%;
    height: 45px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.admin-search input {
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px 0 0 20px;
    border: 1px solid;
}
.adminSearch-icon{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#3C3D37;
    color: white;
    border-radius: 0 20px 20px 0;
    border: 1px solid transparent;
}
.admin-search .search-btn {
    font-size: 30px;
}

.filter-container {
    height: 7%;
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}

.filter-container .admin-category,
.filter-container .admin-filter {
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #f1f1f1;
}

.admin-category option,
.admin-filter option {
    text-align: left;
}

.admin-table {
    border-collapse: collapse;
    width: 97%;
    margin: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.admin-thead td,
.admin-tbody td {
    text-align: center;
    padding: 10px 3px;
}

.admin-tbody td img {
    width: 100px;
    height: 10%;
    border-radius: 3px;
}

.admin-thead td {
    color: white;
    background-color: #3C3D37;
    border: none;
}
.admin-thead th{
    color: white;
    background-color: #3C3D37;
    border: none;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #f1f1f1;
}

tr:nth-child(odd) {
    background-color: white;
}

.admin-edit,
.admin-delete {
    font-size: 30px;
    cursor: pointer;
}

.admin-edit {
    margin-right: 20px;
}

.admin-edit:active {
    color: #00CC7E;
}

.admin-delete:active {
    color: red;
}

.noProduct {
    height: 80px;
    width: 95%;
    margin-left: 1%;
    font-size: 18px;
    color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-error,
.admin-ratingsError {
    margin: 3px 0;
    color: red;
}

/* Navbar */

.nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;
    background-color: #3C3D37;
    z-index: 10;
}

.nav-logo {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-group {
    height: 50%;
    width: 40%;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;
}

.search-group input {
    width: 85%;
    height: 10%;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #f1f1f1;

}

.search-icon {
    font-size: 1.5rem;
    color: black;
}

.login-signup {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logged-in{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-btn{
    height: 45px;
    width: 45px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;

}
.dropdown-menu{
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: white;
    width: 150px;
    border-radius: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.userCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    border: none;
    text-decoration: none;
    color: black;
    cursor: default;
    font-size: 14px;
}
.dropdown-menu button{
    padding: 10px 20px;
    background-color: white;
    border: none;
}
.dropdown-menu button:hover, .userCircle:hover{
    background-color: rgb(225, 224, 224);
}
.logout-btn{
    color: red;
    font-weight: 500;
}
.cart-logo {
    height: 100%;
    width: 10%;
}

.profile-icon {
    font-size: 22px;
    margin: 10px;
}

.login-signup a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    color: white;

}

.login-signup a:hover,
.cart-logo a:hover,
.product a:hover,
.home-link a:hover, .contact-us a:hover {
    color: cyan;

}

.login-signup a,
.cart-logo a,
.product a,
.home-link a, .contact-us a {
    cursor: pointer;
}

.cart-logo {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.cart-logo a{
    text-decoration: none;
    color: white;
}

.cart-icon {
    margin: 5px;
    font-size: 20px;
}

.home-link {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
   
}

.home-link a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.home-icon {
    font-size: 22px;
    margin: 5px;
}

.product, .contact-us{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product a, .contact-us a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.product-icon, .contactus-icon {
    font-size: 22px;
    margin: 5px;
}

/* Homepage */


.body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.landingImg-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.welcome-text {
    height: 350px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.welcome-text1{
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    
}
.welcome-text2{
    font-size: 35px;
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 25px;
}
.explore-btn{
    display: flex;
    align-items: center;
    padding: 12px 45px;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.3s;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.explore-arrow{
    margin-left: 10px;
    font-size: 27px;
}
.explore-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid black;
    background-color: white;
    color: black;
}
.explore-link{
    text-decoration: none;
}

.featured-items, .accessories{
    height: 400px;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}
.img1-container, .img2-container, .img3-container, .accessories1, .accessories2, .accessories3{
    height: 90%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: hidden; 
}
.img1-container img, .img2-container img, .img3-container img, .accessories1 img, .accessories2 img, .accessories3 img{
    border-radius: 10px;
}
.name1, .name2, .name3, .title1, .title2, .title3{
    font-size: 18px;
    font-weight: bold;
}
.rate1, .rate2, .rate3, .price1, .price2, .price3{
    font-weight: 500;
}
.featuredItems-heading, .support, .accessories-heading{
    height: 70px;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(130, 127, 127);
}
.support-container{
    height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.support1, .support2, .support3{
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
    color: #3C3D37;
}
.support1-img, .support2-img, .support3-img{
    font-size: 40px;
}

/* footer */

.footer-container{
    height: 250px;
    width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}
.col1, .col2, .col3, .col4{
    height: 65%;
    width: 15%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.contact{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 25px;
}
.contact-icon{
    cursor: pointer;
    transition: 0.3s;
}
.contact-icon:hover{
    transform: scale(1.25);
}
.col1 span, .col2 span, .col3 span, .col4 span{
    font-size: 18px;
}
.col1 li, .col2 li, .col3 li, .col4 li{
    font-size: 15px;
    color: rgb(94, 91, 91);
}
.col1 li:hover, .col2 li:hover, .col3 li:hover, .col4 li:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
.copyrights{
    height: 30px;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

/* Contact Us */

.nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;
    background-color: #3C3D37;
    color: white;
    z-index: 10;
}

.contact-mainContainer { 
    height: calc(100vh - 85px);
    width: 100%;
    position: relative;
    padding-top: 85px;
    background-color: #f1f1f1;
}

.contact-subContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

.contact-left {
    width: 55%;
    height: 100%;
}

.top-container {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.top-container h1{
    font-size: 40px;
    font-weight: 600;
    margin-left: 10%;
}
.contact-mail{
    height: 20%;
    width: 40%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: rgb(107, 106, 106);
}
.contact-msg{
    height: 20%;
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: rgb(107, 106, 106);
}
.socialmedia{
    height: 12%;
    width: 25%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color:#202020;
}
.bottom-container{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    
}
.bottom-container h3{
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 500;
}
.contact-col1, .contact-col2, .contact-col3{
    height: 70%;
    width: 30%;
    padding: 10px;
    font-size: 14px;
    text-align: justify;
}
.contact-col1 span, .contact-col2 span, .contact-col3 span{
    color:rgb(107, 106, 106);
}
.contact-right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactForm-container{
    height: 85%;
    width: 65%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.contactForm-heading{
    height: 18%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.contactForm-heading hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #3C3D37;
    border-radius: 10px;
    margin-bottom: 10px;
}
.getintouch{
    font-size: 30px;
    font-weight: 600;
}
.contact-subheading{
    font-size: 15px;
    color: rgb(107, 106, 106);
}
.contact-form{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.contact-form input{
    padding: 12px 15px;
    width: 85%;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
}
.contact-form textarea{
    padding: 12px 15px;
    width: 85%;
    height: 30%;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
}
.contact-form button{
    padding: 12px;
    width: 55%;
    border-radius: 40px;
    border: none;
    margin-left: 20%;
    font-size: 15px;
    font-weight: 500;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.contact-form button:hover{
    background-color: white;
    color: black;
    border: 2px solid;
}
.contact-acceptTC{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: rgb(107, 106, 106);
}
.contact-acceptTC span{
    color: black;
    font-weight: 500;
}
.contact-acceptTC span:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* User Product List */

.user-mainContainer{
    min-height: 100vh;
    width: 100%;
    position: relative;
    top: 150px;
    background-color: #f1f1f1;
}
.user-subContainer{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    box-sizing: border-box;
}
.user-filterContainer{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    position: fixed;
    top: 75px;
    z-index: 9;
    background-color: #f1f1f1;
}
.user-filterDropdowns{
    display: flex;
    align-items: center;
    justify-content: start;
}
.searchResults{
    margin-left: 30px;
    color: #3C3D37;
}
.searchResults span{
    font-weight: 500;
    color: black;
}
.user-category, .user-sortby{
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-left: 30px;
    cursor: pointer;
}
.user-category option, .user-sortby option{
    text-align: left;
}
.product-container{
    margin: 10px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    transition: 0.3s ease;
    text-align: center;
    height: 400px;
}
.product-container:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product-container img{
    height: 170px;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}
.product-ratings, .product-category{
    font-size: 15px;
}
.product-title{
    margin: 5px;
}
.product-title p{
    font-weight: 500;
}
.product-price{
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
}
.product-ratings{
    margin: 5px;
}
.product-category{
    color: #3C3D37;
    margin: 5px;
}
.product-detailsBtn{
    padding: 10px 50px;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: black;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}
.product-detailsBtn:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
.product-ratingsContainer{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.star-icon{
    font-size: 18px;
    color: #FF6500;
    margin-left: 5px;
}
.no-productsMsg{
    height: 100px;
    width: 100%;
    background-color: #00FF9C;
}
.noProductsContainer{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:gray;
}
.noProductsContainer span{
    margin-bottom: 5%;
}

/* User Product Details */

.productDetails-mainContainer{
    height: calc(100vh - 120px);
    width: 100%;
    position: relative;
    padding-top: 120px;
    background-color: #f1f1f1;
}
.productDetails-subContainer{
    height: 100%;
    width: 100%;
    display: flex;
}
.productDetails-container{
    height: 100%;
    width: 100%;
    display: flex;
}
.productDetails-left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.productDetails-left img{
    height: 80%;
    width: 65%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}
.productDetails-left img:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.productDetails-right{
    height: 100%;
    width: 50%;
    padding: 0 20px;
}
.productDetails-title{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.productDetails-title p{
    font-size: 25px;
    font-weight: 600;
}
.productDetails-id{
    color: #3C3D37;
    font-size: 15px;
    margin: 10px 0;
}
.productDetails-id span{
    color: black;
}
.productDetails-ratings{
    height: 7%;
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 5px 0;

}
.productDetails-ratings span{
    font-weight: 500;
    font-size: 18px;
}
.productDetails-starIcon{
    font-size: 25px;
    margin-left: 10px;
    color: #FF8000;
}
.productDetails-price{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
}
.productDetails-category{
    font-size: 18px;
    color: #3C3D37;
    margin: 5px 0;
}
.productDetails-btns{
    height: 12%;
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin: 15px 0   ;
}
.productDetails-btns button{
    border: none;
    border-radius: 40px;
    background-color: black;
    border: 2px solid transparent;
    transition: 0.3s;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid transparent;
}
.productDetails-btns .buynowBtn{
    color: white;
    padding: 10px 60px;
}
.productDetails-btns .cartBtn{
    background-color: white;
    color: black;
    border: 2px solid;
    padding: 10px 50px;
}
.buynowBtn:hover, .cartBtn:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.userProductDetails-link{
    text-decoration: none;
    color: black;
    cursor: default;
}
.productDetails-description{
    height: 25%;
    width: 100%;
    overflow: hidden;
    text-align: justify;
}
.productDetails-description h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}
.productDetails-description p{
    color: #333333;
}
.productDetails-seller{
    font-size: 15px;
    margin: 10px 0;
}
.productDetails-seller span{
    font-weight: 500;
}
.productDetails-verified{
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.productDetails-verified span{
    font-size: 15px;
}
.verified-icon{
    font-size: 22px;
    margin-right: 3px;
}
.verified-icon:hover{
    color: #32CD32;
}

/* User Profile Page */

.profile-mainContainer{
    height: calc(100vh - 85px);
    width: 100%;
    position: relative;
    padding-top: 85px;
    background-color: #f1f1f1;
}
.profile-subContainer{
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container{
    height: 65%;
    width: 40%;
    background-color: lightgray;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 3px solid grey;
}
.userProfile{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.userProfile button{
    height: 100px;
    width: 100px;
    font-size: 45px;
    border-radius: 100%;
    background-color: white;
    transition: 0.3s;
    
}
.userProfile button:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.profile-username{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0;
}
.profile-username{
    font-size: 35px;
    font-weight: 500;
}
.profile-userId{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userIdIcon{
    padding: 10px;
    font-size: 22px;
}
.profile-userId span{
    color: #3C3D37;
}
.profileIcon{
    font-size:25px;
    padding: 5px;
}
.profile-role{
    height: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.profile-role span{
    font-size: 13px;
    padding: 0 8px;
    border-radius: 5px;
    background-color: #adf8db;
    border: 3px solid #15F5BA;
}
.profile-email{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 18px;
}
.emailIcon{
    padding: 10px;
    font-size: 25px;
}
.noUsers{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:#3C3D37;
}
.admin-role{
    font-size: 13px;
    padding: 0 8px;
    border-radius: 5px;
    background-color: #adf8db;
    border: 3px solid #15F5BA;
}

/* Add to Cart */

.cart-mainContainer{
    height: calc(100vh - 85px);
    width: 100%;
    position: relative;
    padding-top: 85px;
    background-color: #f1f1f1;
}
.cart-subContainer{
    height: 100%;
    width: 100%;
    display: flex;
}
.cart-left{
    width: 70%;
    display: grid;
    grid-template-columns: repeat('auto-fill',minmax(200px, 1fr));
    gap: 25px;
    overflow:scroll;
    box-sizing: border-box;
    padding: 40px;
}
.cartProduct-container{
    height: 150px;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid gray;
    background-color: white;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.cartImg{
    height: 100%;
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
}
.cartImg img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}
.cart-text{
    height: 100%;
    width: 65%;
    padding: 10px 15px;
    box-sizing: border-box;
}
.cart-title{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
}
.cart-title span{
    font-weight: 500;
}
.cart-price{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.cart-ratingCategory{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.cart-rating{
    height: 100%;
    width: 12%;
    display: flex;
    align-items: center;
}
.cart-category{
    color: #3C3D37;
}
.cart-ratingIcon{
    font-size: 20px;
    padding: 5px;
    color: #FF8000;
}
.cart-container3{
    width: 15%;
    height: 100%;
}
.cart-incDec{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.cart-incDec span{
    font-size: 22px;
}
.cart-incDec span::selection{
    user-select: none;
}
.cart-delete{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}
.cart-deleteIcon:hover{
    color: red;
    cursor: pointer;
}
.cart-addIcon{
    font-size: 40px;
    color: #3C3D37;
    cursor: pointer;
}
.cart-subIcon{
    font-size: 40px;
    color: #3C3D37;
    cursor: pointer;
}
.cart-addIcon:active, .cart-subIcon:active{
    color: #37AFE1;
}
.cart-right{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.clearCart-btn{
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}
.clearCart-btn button{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: #3C3D37;
    color: white;
    font-size: 12px;
    border: 2px solid transparent;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}
.clearCart-btn button:hover{
    border: 2px solid #3C3D37;
    background-color: white;
    color: black;
}
.clearCart-icon{
    padding-right:5px;
    font-size: 20px;
}
.nocartItems{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #5c5d56;
}
.order-summaryContainer{
    height: 65%;
    width: 80%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid grey;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 5%;
}
.orderSummary{
    height: 20%;
    width: 100%;
    border-bottom: 3px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.orderSummary span{
    font-weight: 500;
}
.summary-text{
    height: 30%;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #333333;
}
.orderSummary-values{
    font-weight: 500;
    color: black;
}
.summary-text div{
    margin-left: 25%;
}
.proceed-btn{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proceed-btn button{
    transition: 0.3s;
    cursor: pointer;
}
.proceed-btn button:hover{
    transform: scale(1.05);
}
.proceed-btn button{
    padding: 15px 50px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 100px;
    border: none;
    background-color: black;
    color: white;
}

/* Order Placed Succesfully */

.orderPlaced-mainContainer{
    height: 100vh;
    width: 100%;
    background-color: #00FF9C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderPlaced-subContainer{
    height: 400px;
    width: 70%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.orderPlaced-subContainer button{
    padding: 12px 30px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s;
}
.thankYouText{
    font-size: 20px;
    font-weight: 500;
}
.orderSuccessMsg{
    font-size: 25px;
}
.orderPlaced-subContainer button:hover{
    transform: scale(1.05);
}
.orderPlacedIcon{
    font-size: 150px;
}